.App {
    
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100%;
    min-width: 100%;
    box-sizing:border-box;
    position:fixed;
    display: flex;
    top:0;
    left:0;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  

}
 
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, 
body {
    height: 100%;
    background: #08302F;
  }

#root{
  height: 100%;
  width: 100%;
}

